@model IEnumerable<Weatherapp.Models.IndoorTemperatureModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Self)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Temperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Humidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Self)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IndoorTemperatureModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IndoorTemperatureModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IndoorTemperatureModelId })
        </td>
    </tr>
}

</table>
